---
import Layout from "../layouts/Layout.astro"

---

<Layout title="">
    <div class="">
        <div class="shadow bg-grey-400 p-4 rounded text-red-400  w-1/2 mx-auto flex justify-center item-center">
            <h1 class="flex item-center">This page is not found please go back to  <a href="/" class="ml-2 font-semibold"> home page</a></h1>
        </div>
    </div>
</Layout>