
<header class="bg-blue-400 w-full p-4">
    <nav>
        <ul class="flex gap-4 text-md text-white">
            <li><a href="/">Home</a></li>
            <li class=""><a href="/about">About</a></li>
        </ul>
    </nav>
</header>